$body-font-size-max: $fs-m;
$body-font-size-min: calc($body-font-size-max - 20%);
$h1-font-size-max: $fs-big-l;
$h1-font-size-min: calc($h1-font-size-max - 30%);
$h2-font-size-max: $fs-big-m;
$h2-font-size-min: calc($h1-font-size-max - 30%);
$h3-font-size-max: $fs-big-s;
$h3-font-size-min: calc($h1-font-size-max - 30%);
$h4-font-size-max: $fs-big-xs;
$h4-font-size-min: calc($h1-font-size-max - 30%);
$h5-font-size-max: $fs-xxl;
$h5-font-size-min: calc($h1-font-size-max - 30%);

$body-line-height-min: $lh-sm;
$body-line-height-max: $lh-md;
$h1-line-height-min: $lh-xl;
$h1-line-height-max: $lh-xxl;
$h2-line-height-min: $lh-xl;
$h2-line-height-max: $lh-xxl;
$h3-line-height-min: $lh-xl;
$h3-line-height-max: $lh-xxl;
$h4-line-height-min: $lh-xl;
$h4-line-height-max: $lh-xxl;
$h5-line-height-min: $lh-md;
$h5-line-height-max: $lh-lg;

$h1-margin-bottom-min: $sp-xs;
$h1-margin-bottom-max: $sp-m;
$h2-margin-bottom-min: $sp-xs;
$h2-margin-bottom-max: $sp-m;
$h3-margin-bottom-min: $sp-xs;
$h3-margin-bottom-max: $sp-m;
$h4-margin-bottom-min: $sp-xxs;
$h4-margin-bottom-max: $sp-s;
$h5-margin-bottom-min: $sp-xxs;
$h5-margin-bottom-max: $sp-s;

@font-face {
	font-family: fontName sans-serif;
	font-style: normal;
	font-display: auto;
	src: local('localName'),
	url('/path') format('truetype'),
	url('/path') format('woff2'),
	url('/path') format('woff'),
	url('/path') format('embedded-opentype');
}

body {
	font-family: fontName sans-serif;
	font-weight: $fw-normal;
	@include adaptive(
			font-size,
			$body-font-size-min,
			4vw,
			$body-font-size-max);
	
	@include adaptive(
			line-height,
			$body-line-height-min,
			8vh,
			$body-line-height-max);
	
	@media #{$md} {
		line-height: $h1-line-height-min;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: fontName sans-serif;
	font-weight: $fw-bold;
	
}

h1 {
	margin-bottom: $fs-xl;
	
	@include adaptive(
			font-size,
			$h1-font-size-min,
			4vw,
			$h1-font-size-max);
	
	@include adaptive(
			line-height,
			$h1-line-height-min,
			8vh,
			$h1-line-height-max);
	
	@include adaptive(
			margin-bottom,
			$h1-margin-bottom-min,
			8vh,
			$h1-margin-bottom-max);
	
	@media #{$md} {
		line-height: $h1-line-height-min;
		margin-bottom: $h1-margin-bottom-min;
	}
}

h2 {
	margin-bottom: $fs-l;
	
	@include adaptive(
			font-size,
			$h2-font-size-min,
			4vw,
			$h2-font-size-max);
	
	@include adaptive(
			line-height,
			$h2-line-height-min,
			8vh,
			$h2-line-height-max);
	
	@include adaptive(
			margin-bottom,
			$h2-margin-bottom-min,
			8vh,
			$h2-margin-bottom-max);
	
	@media #{$md} {
		line-height: $h2-line-height-min;
		margin-bottom: $h2-margin-bottom-min;
	}
}

h3 {
	margin-bottom: $fs-m;
	
	@include adaptive(
			font-size,
			$h3-font-size-min,
			4vw,
			$h3-font-size-max);
	
	@include adaptive(
			line-height,
			$h3-line-height-min,
			8vh,
			$h3-font-size-max);
	
	@include adaptive(
			margin-bottom,
			$h3-margin-bottom-min,
			8vh,
			$h3-margin-bottom-max);
	
	@media #{$md} {
		line-height: $h3-line-height-min;
		margin-bottom: $h3-margin-bottom-min;
	}
}

h4 {
	margin-bottom: $fs-s;
	
	@include adaptive(
			font-size,
			$h4-font-size-min,
			4vw,
			$h4-font-size-max);
	
	@include adaptive(
			line-height,
			$h4-line-height-min,
			8vh,
			$h4-font-size-max);
	
	@include adaptive(
			margin-bottom,
			$h4-margin-bottom-min,
			8vh,
			$h4-margin-bottom-max);
	
	@media #{$md} {
		line-height: $h4-line-height-min;
		margin-bottom: $h4-margin-bottom-min;
	}
}

h5 {
	margin-bottom: $fs-xs;
	
	@include adaptive(
			font-size,
			$h5-font-size-min,
			4vw,
			$h5-font-size-max);
	
	@include adaptive(
			line-height,
			$h5-line-height-min,
			8vh,
			$h5-line-height-max);
	
	@include adaptive(
			margin-bottom,
			$h5-margin-bottom-min,
			8vh,
			$h5-margin-bottom-max);
	
	@media #{$md} {
		line-height: $h5-line-height-min;
	}
}