$border-radius-sm: 0.125rem;
$border-radius-md: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-full: 9999px;

$border--grey: 1px solid $my-gray800;
$border--light: 1px solid $my-danger;