$spacer-base: 32px;
$sp-xxs: 0.25 * $spacer-base;
$sp-xs: 0.5 * $spacer-base;
$sp-s: 0.75 * $spacer-base;
$sp-m: $spacer-base;
$sp-l: 1.5 * $spacer-base;
$sp-xl: 2 * $spacer-base;
$sp-xxl: 2.25 * $spacer-base;
$sp-custom-25: 25px;